<!-- <router-outlet></router-outlet> -->

<app-main-page></app-main-page>


     
<!-- 
<div class="content">
    <div>
        <input name="setValue" type="radio" (click)="SetName(1)">One
        <input name="setValue" type="radio" (click)="SetName(2)">Two
        <input name="setValue" type="radio" (click)="SetName(3)">Three
        <input name="setValue" type="radio" (click)="SetName(0)">None
    </div>

<br/>
    <div [ngSwitch]="name">
        <div *ngSwitchCase="'one'">you selcted two</div>
        <div *ngSwitchCase="'two'">you selcted two</div>
        <div *ngSwitchCase="'three'">you selcted two</div>
        <div *ngSwitchDefault>"Invalid Input"></div>
    </div>
</div> -->

<!-- <app-root></app-root> -->




