

<div cdkDropListGroup>
    <div class="example-container">
      <h2>components</h2>
  
      <div
        cdkDropList
        [cdkDropListData]="components"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of components" cdkDrag>{{item}}</div>
      </div>
    </div>
  
    <div class="example-container" >
      <h2>Form</h2>
      <div
        cdkDropList
        [cdkDropListData]="Form"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        
        <div *ngFor="let item of Form" cdkDrag >
          
          <div *ngIf="item==='Text Area'">
            <!-- <label for="">Que </label> -->
            <!-- <textarea name="" id="" cols="30" rows="10"></textarea> -->
            <div><input type="text" placeholder="Enter Your Question"> </div> <br>
            <div><input type="text"></div>
            <button mat-raised-button color="primary">Save</button><hr>
          </div>
          
        
          

          <div *ngIf="item==='Single Choice Question'">
            <!-- <label for="">Single Choice Anwser</label> <br> -->
            <div>
            <!-- <label for="">Que: </label> -->
            <input type=" text" placeholder="Enter Your Question"><br> 
          </div> <br>

            <div>
           <input type="radio" name="ch" id="" >
           <input type="text" placeholder="Option">
           </div> <br>

           <div>
            <input type="radio" name="ch" id="" >
            <input type="text" placeholder="Option">
            </div> <hr>
           <!-- <input type="radio" name="ch" id=""> Op 2 <br> -->
           <!-- <input type="radio" name="ch" id=""> Op 3 -->
          </div>


          <div *ngIf="item==='Multiple Choice Question'">
            <div>
              <!-- <label for="">Que: </label> -->
              <input type=" text" placeholder="Enter Your Question"><br> 
            </div> <br>

            <div>
              <input type="checkbox" name="ch" id="" >
              <input type="text" placeholder="Option">
              </div> <br>
              <div>
                <input type="checkbox" name="ch" id="" >
                <input type="text" placeholder="Option">
                </div> <br>
                <div>
                  <input type="checkbox" name="ch" id="" >
                  <input type="text" placeholder="Option">
                  </div> <hr>
            <!-- <label for="">Multiple Choice Question</label> <br> -->
            <!-- <input type="checkbox" name="multiple" id="">Op 1 <br>
            <input type="checkbox" name="multiple" id="">Op 1 <br>
            <input type="checkbox" name="multiple" id="">Op 1 -->

          </div>
        </div>
      </div>
    </div>
  </div>